<h1 mat-dialog-title>Mantenimiento de cliente</h1>
<mat-dialog-content>
    <form [formGroup] ="_clienteForm" >
        <div fxLayout="column" fxShow.gt-sm fxLayoutGap="100%">
        <mat-card fxFlex="100%">
            <mat-card-content  fxLayout="column">
                <mat-form-field appearance="outline" >
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Usuario" formControlName="Nombre">
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Apellidos" formControlName="Apellidos">
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Dirección</mat-label>
                    <input matInput placeholder="Dirección" formControlName="Direccion">
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Clave</mat-label>
                    <input matInput placeholder="Clave" formControlName="Clave">
                </mat-form-field>
            </mat-card-content>

            <div fxLayout="row" fxLayoutGap="10%" fxLayoutAlign= "center center"> 
                <button mat-raised-button color="primary" (click)="btnGuardar()">Guardar</button>
                <button mat-raised-button color="primary" (click)="btnCancelar()">Cancelar</button>
            </div>
        </mat-card>

    </div>

    </form>
</mat-dialog-content>