<div fxLayout="column" fxFill fxFlex.gt-sm="100%" fxHide.md fxLayoutAlign="center center" style="border:1px black solid">
    <button mat-raised-button color="primary" (click)="openDialogNew()">NUEVO</button>
    <br>
    <table mat-table [dataSource]="dataTiendas">
        <ng-container matColumnDef="Sucursal">
        <th mat-header-cell *matHeaderCellDef> SUCURSAL</th>
        <td mat-cell *matCellDef="let element"> {{element.sucursal}} </td>
        </ng-container>

        <ng-container matColumnDef="Direccion">
        <th mat-header-cell *matHeaderCellDef> DIRECCIÓN </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="actualizar">
            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
            <td mat-cell *matCellDef="let element"> 
                <button (click)="openDialog(element)" mat-icon-button>
                    <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element"> 
                <button (click)="eliminar(element)" mat-icon-button>
                    <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
    </mat-paginator>
</div>